@model MVCdemo.Models.Employee

@{
    ViewData["Title"] = "Hồ sơ";
    string? gender = "";
}
@section css {
    <link rel="stylesheet" href="~/css/Details.css" />
}
@if (Model.EmployeeGender == 1)
{
    gender = "Male";
}
else
{
    gender = "Female";
}
<h1>Hồ sơ chi tiết nhân viên</h1>

<div class="wrapper">
    <div class="body">
        <div class="left-img">
            <img src="~/Image/@Model.UrlImage" alt="">
        </div>
        <div class="right-info">
            <div class="info-group">
                <label>Họ và tên</label>
                <b>: @Model.EmployeeName</b>
            </div>
            <div class="info-group">
                <label>Dân tộc</label>
                <b>: @Model.EmployeeEthnic</b>
            </div>
            <div class="info-group">
                <label>Giới tính</label>
                <b>: @gender</b>
            </div>
            <div class="info-group">
                <label>Quê quán</label>
                <b>: @Model.nativeland</b>
            </div>
            <div class="info-group">
                <label asp-for="Email"></label>
                <b>: @Model.Email</b>
            </div>
            <div class="info-group">
                <label>Số điên thoại</label>
                <b>: @Model.EmployeePhone</b>
            </div>
            <div class="info-group">
                <label>Chức vụ</label>
                <b>: @Model.position.PositionName</b>
            </div>
            <div class="info-group">
                <label>Bộ phận làm việc</label>
                <b>: @Model.department.DepartmentName-@Model.department.DepartmentAddress</b>
            </div>
        </div>
    </div>
    <div class="info-group-link">
        <a asp-controller="Employees" asp-action="Edit" asp-route-id="@Model.EmployeeId">Cập nhật</a>
        <a asp-action="Index">Back to list</a>

    </div>
</div>